:root {
    --game-height: 720px;
    --game-width: 1080px;
    --ratio: calc(var(--game-width) / var(--game-height))
}

.header {
    position: relative;
    display: block;
    white-space: nowrap;
    height: 6vh;
    width: 100%;
}

.bg-gunmetal {
    background-color: #253237;
    color: #fffafb;
}

.bg-metalgun {
    background-color: #182125!important;
    color: #fffafb;
}

.bg-gutter {
    background-color: #272727!important;
    color: #fffafb;
}

.bg-grime {
    background-color: #2D2D2D!important;
    color: #fffafb;
}

.title {
    display: inline-block;
    margin: auto;
    margin-left: 1%;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 3vmin;
}

.logo {
    /* margin: 8px; */
    padding: 8px;
    height: 4vh;
    border: 8;
    top: 50%
}

.body {
    background-color: #454545;
    color: white;
    margin: 0;
    border: 0;
    font-size: 1.7vmin;
}

.mem-list-object {
    text-align: left;
    float: left
}

.memory-select {
    margin: auto;
    width: 33%;
    height: 100%;
    background-color: #adadad;
    display: flex;
}


#editor { 
    position: relative;
    min-height: 100px;
    height: 90vh;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.ace_editor.ace_autocomplete {
    width: 60%!important;
}

body .ace_scrollbar-v {
    overflow-y: auto;
}

.code-controls {
    position: relative;
    height: 4vh;
    width: 100%;
    border: 0;
    margin: 0;
    display: block;
}

.codeContainer {
    position:relative;
    width:100%;
    height: 100%;
    border: 0;
    margin: 0;
    display: block;
    margin: auto;
}

.leftPane {
    width: 40%;
    min-width: 40%;
    height: 100%;
    float: left;
    border-collapse: collapse;
    border: 0;
    margin: 0;
    display: flex;
}

.middlePane {
    width: 50%;
    height: 100%;
    float: left;
    border-collapse: collapse;
    border: 0;
    margin: 0;
}

.rightPane {
    width: 10%;
    height: 100%;
    float: right;
    border-collapse: collapse;
    border: 0;
    margin: 0;
}

.container {
    width: 100%;
    height: 100%;
    border: 0;
    margin: 0;
    display: flex;
}

.main-container {
    width: 100%;
    height: 94vh;
    border: 0;
    margin: 0;
    display: flex;
}

.canvasContainer {
    width: 100%;
    /* height: 100%; */
    border: 0;
    margin: 0;
    display: flex;
}

.myCanvas {
    width: 100%;
    /* height: 100%; */
    float: left;
}

.infoPanels {
    float: right;
}

.ship-panel {
    margin: auto;
    width: 100%;
    height: 78.5vh;
    background-color: #cc99cc;
}

.game-controls {
    position: relative;
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    justify-content: center;
    margin: auto;
    height: 2.5vh;
    margin-bottom: -2.5vh;
    display: flex;
}

.ship-info {
    margin: auto;
    width: 100%;
}

.memory-container {
    position: relative;
    display: flex;
    margin: 0;
    width: 100%;
    height: calc(94vh - (100vw / 3.0));
    align-items: stretch;
}

.memory-select {
    margin: auto;
    width: 33%;
    height: 100%;
    background-color: #adadad;
    display: flex;
}

nav ul{height:100%; width:100%;}
nav ul{overflow:hidden; overflow-y:scroll; direction:rtl;margin: auto; padding: 0;}

.memory-inspect {
    position: relative;
    margin: auto;
    width: 66%;
    height: 100%;
    background-color: #acacac;
}

.timer-panel {
    height: 3vh;
    justify-content: center;
    align-content: center;
    display: flex;
}

/* FLEXBOX GRID */

.score-panel {
    height: 12.5vh;
    font-size: 16px;
    font-size: 1.7vmin;
}

.teams-info {
    padding: 8px;
}

.row {
    flex-direction: row;
}

.cell {
    border:1px solid white;
}

.col-left {
    width: 33%;
    height: 100%;
    border-collapse: collapse;
    border: 0;
    margin: 0;
    float: left;
    padding: 2px;
    white-space: nowrap;
}

.col-middle {
    width: 33%;
    height: 100%;
    border-collapse: collapse;
    border: 0;
    margin: 0;
    float: left;
    padding: 2px;
    white-space: nowrap;
}

.col-right {
    width: 33%;
    height: 100%;
    border-collapse: collapse;
    border: 0;
    margin: 0;
    float: left;
    padding: 2px;
    white-space: nowrap;
}