:root {
    --game-height: 720px;
    --game-width: 1080px;
    --ratio: calc(var(--game-width) / var(--game-height));
    --primary: #2D2D2D;
    --secondary: #272727;

    --text-1: #c2cccc;
    --text-2: #8bcc8b;
}

.header {
    position: relative;
    display: block;
    white-space: nowrap;
    height: 6vh;
    width: 100%;
}

.bg-gunmetal {
    background-color: #253237;
    color: #fffafb;
}

.bg-metalgun {
    background-color: #182125!important;
    color: #fffafb;
}

.bg-gutter {
    background-color: var(--secondary)!important;
    color: #fffafb;
}

.bg-grime {
    background-color: var(--primary)!important;
    color: #fffafb;
}

.title {
    display: inline-block;
    margin: auto;
    margin-left: 1%;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 3vmin;
}

.logo {
    /* margin: 8px; */
    padding: 8px;
    height: 4vh;
    border: 8;
    top: 50%
}

.body {
    background-color: var(--secondary);
    color: var(--text-2);
    margin: 0;
    border: 0;
    font-size: 1.7vmin;
    font-family: monospace;
}

#editor { 
    position: relative;
    min-height: 100px;
    height: 89vh;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.ace_editor.ace_autocomplete {
    width: 60%!important;
}

body .ace_scrollbar-v {
    overflow-y: auto;
}

.code-controls {
    position: relative;
    height: 4vh;
    width: 100%;
    border: 0;
    margin: 0;
    display: block;
}

.codeContainer {
    position:relative;
    width:100%;
    height: 100%;
    border: 0;
    margin: 0;
    display: block;
    margin: auto;
}

.leftPane {
    width: 40%;
    min-width: 40%;
    height: 100%;
    float: left;
    border-collapse: collapse;
    border: 0;
    margin: 0;
    display: flex;
}

.middlePane {
    width: 48%;
    height: 100%;
    float: left;
    border-collapse: collapse;
    border: 0;
    margin: 0;
}

.rightPane {
    width: 12%;
    height: 100%;
    float: right;
    border-collapse: collapse;
    border: 0;
    margin: 0;
}

.container {
    width: 100%;
    height: 100%;
    border: 0;
    margin: 0;
    display: flex;
}

.main-container {
    width: 100%;
    height: 94vh;
    border: 0;
    margin: 0;
    display: flex;
}

.canvasContainer {
    width: 100%;
    /* height: 100%; */
    border: 0;
    margin: 0;
    /* margin-left: 1%; */
    display: flex;
}

.myCanvas {
    width: 100%;
    /* height: 100%; */
    float: left;
}

.infoPanels {
    float: right;
}

.ship-panel {
    margin: auto;
    width: 100%;
    height: 78vh;
    background-color: var(--secondary);
    flex-shrink: 0;
    overflow-y: auto;
    text-align: center;
}

.game-controls {
    position: relative;
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    justify-content: center;
    margin: auto;
    height: 4.0vh;
    margin-bottom: -4.0vh;
    display: flex;
}

.ship-info {
    margin: auto;
    width: 100%;
}

nav ul{height:100%; width:100%;}
nav ul{overflow:hidden; overflow-y:auto; direction:rtl;margin: auto; padding: 0;}

.memory-container {
    position: relative;
    display: flex;
    margin: 0;
    width: 100%;
    height: calc(93.5vh - (100vw / (1.5 / 0.48)));
    align-items: stretch;
}

.memory-select {
    margin: auto;
    width: 33%;
    height: 100%;
    background-color: var(--secondary);
    text-align: left;
    flex-shrink: 0;
    overflow-y: auto;
}

.btn-main:hover {
    background-color: var(--secondary);
}

.btn-main {
    color: var(--text-2);
    background-color: var(--primary);
    border: none;
    margin: 0.2%;
}

.selector-main {
    color: var(--text-2);
    background-color: var(--primary);
    border: none;
    margin: 0.2%;
}

.memory-inspect {
    position: relative;
    margin: auto;
    width: 66%;
    height: 100%;
    max-height: 100%;
    background-color: var(--secondary);
    text-align: left;
    flex-shrink: 0;
    overflow-y: auto;
}

.timer-panel {
    height: 3vh;
    justify-content: center;
    align-content: center;
    display: flex;
    background-color: var(--secondary);
}

/* FLEXBOX GRID */

.score-panel {
    height: 12.5vh;
    font-size: 16px;
    font-size: 1.7vmin;
    background-color: var(--secondary);
}

.teams-info {
    padding: 8px;
}

.row {
    flex-direction: row;
}

.cell {
    /* border:1px solid white; */
    background-color: var(--primary);
    margin: 5%;
}

.col-left {
    width: 33%;
    height: 100%;
    border-collapse: collapse;
    border: 0;
    margin: 0;
    float: left;
    padding: 2px;
    white-space: nowrap;
}

.col-middle {
    width: 33%;
    height: 100%;
    border-collapse: collapse;
    border: 0;
    margin: 0;
    float: left;
    padding: 2px;
    white-space: nowrap;
}

.col-right {
    width: 33%;
    height: 100%;
    border-collapse: collapse;
    border: 0;
    margin: 0;
    float: left;
    padding: 2px;
    white-space: nowrap;
}